<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <!--	Favicon -->
	<link rel="icon" href="./src/components/image/favicon.png" type="image/x-icon">
	<link rel="apple-touch-icon" href="./src/components/image/favicon.png" >
    
    <!--    External Stylesheet-->
    <link rel="stylesheet" href="styles.css">
    
    <!--    Page title-->
    <title>🔴 MEGA AUDITIONS ARE LIVE</title>
    
</head>
<body>




 <div class="overlay"></div>
 <div class="wrapper">
   <div class="">
     <h1 class="title"><b>SEPTEMBER AUDITIONS</b><br>Registrations are live</h1>
      <div class="countdown-container">
       <div>
         <p id="days" class="big-text">0</p>
         <span>Days</span>
       </div>
       <div>
        <p id="hours" class="big-text">0</p>
        <span>Hours</span>
      </div>
      <div>
        <p id="min" class="big-text">0</p>
        <span>Min</span>
      </div>
      <div>
        <p id="sec" class="big-text">0</p>
        <span>Sec</span>
      </div>
     </div>
   </div>
 </div>
 </div>
 <div class="fixed-btn">

<a href="https://docs.google.com/forms/d/1E2LK0IdWDhWrX_gfh7nl5jD5UrSTm1ejSIAIURpnKPo/viewform?edit_requested=true"><p>REGISTER HERE</p></a>
 </div>



 <!-- <section>
   <div class="left_Box">
     <div class="content">
       <h1>Various domains you can apply for!</h1>
       <li>Photography</li>
       <li>Dance</li>
       <li>Gaming</li>
       <li>Coding</li>
       <li>Video Editor</li>
       <li>Music</li>
       <li>Creative Writing</li>
       <li>Fashion</li>
       <li>Art</li>
       <li>Graphic Design</li>
     </div>

   </div>
   <div class="events">
     <ul>
       <li>
         <div class="time">
           <h2>STAY<br><span>UPDATED</span></h2>
            </div>
           <div class="details">
             <h3>Stay updated by following our insta handle for the upcoming results and events.<br> Do register for the auditions by clicking on the button down below.</h3>
             <p> </p>
            <a href="https://docs.google.com/forms/d/1E2LK0IdWDhWrX_gfh7nl5jD5UrSTm1ejSIAIURpnKPo/viewform?edit_requested=true">Register Now</a>
           </div>

         </div>
       </li>
     </ul>
   </div> -->

 </section>
 <ul class="sci">


       <li><a href="https://www.instagram.com/in4mals_society/?utm_medium=copy_link"><img src="images/insta5.png"></a></li>
 <li><a href="https://www.youtube.com/channel/UCH026LzhM02C7gLKeX10XZA"><img src="images/youtube 1.png"></a></li>
       </ul>
<script src="main.js"></script>
</body>
</html>
