*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cascadia Code';
}
/* Navbar icon */
.bars {
	position: fixed;
	width: 30px;
	height: 30px;
	top: 40px;
	right: 10px;
	cursor: pointer;
	z-index: 101;
	padding-top: 9px;
	outline: none;
	transition: .5s ease;
}

.bars.active {
	top: 20px;
}

.bar {
	width: 100%;
	height: 4.3px;
	border-radius: 20px;
	background-color: #fff;
	outline: none;
	position: absolute;
}

#nav-action #bar1 {
	transform: translateY(-10px);
}

#nav-action #bar3 {
	transform: translateY(10px);
}

.bars.active #bar2 {
	animation: disappear 1s;
	color: aqua;
	animation-fill-mode: forwards;
}

.bars.active #bar1 {
	animation: top-bar 1s;
	animation-fill-mode: forwards;
}

.bars.active #bar3 {
	animation: bottom-bar 1s;
	animation-fill-mode: forwards;
}


/* Navbar Links CSS */

#nav {
	position: fixed;
	top: 0px;
	bottom: 0;
	left: 0;
	right: 0px;
	transition: all 1s;
	z-index: -1;
	overflow: hidden;
	opacity: 0;
}

#nav a {
	color: #fff;
	text-decoration: none;
	font-size: 22px;
	font-family: var(--heading-font);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-indent: 50vw;
	border-radius: 50%;
	transition: all .5s;
}

#nav a:hover {
	background: #ED213A;
}

ul {
	list-style: none;
}

.visible {
	z-index: 100 !important;
	opacity: 1 !important;
}

.shape-circle {
	border-radius: 50%;
	width: 20vw;
	height: 20vw;
	top: -10vw;
	right: -10vw;
	position: absolute;
	transition: all 1s ease-in-out;
	background: #101d2e;
	box-shadow: 0 0px 0px rgba(232, 213, 127, 0.5);
}

nav.visible li:first-child {
	width: 200vw;
	height: 200vw;
	top: -100vw;
	right: -100vw;
	z-index: 5;
	transition: all .5s ease-in-out;
	box-shadow: 0 0px 80px rgba(232, 213, 127, 0.5);
}

nav.visible li:nth-child(2) {
	width: 150vw;
	height: 150vw;
	top: -75vw;
	right: -75vw;
	z-index: 6;
	transition: all .6s ease-in-out;
	box-shadow: 0 0px 80px rgba(232, 213, 127, 0.5);
}

nav.visible li:nth-child(3) {
	width: 100vw;
	height: 100vw;
	top: -50vw;
	right: -50vw;
	z-index: 7;
	transition: all .7s ease-in-out;
	box-shadow: 0 0px 80px rgba(232, 213, 127, 0.5);
}

nav.visible li:last-child {
	width: 50vw;
	height: 50vw;
	top: -25vw;
	right: -25vw;
	z-index: 8;
	transition: all .8s ease-in-out;
	box-shadow: 0 0px 80px rgba(232, 213, 127, 0.5);
}

nav.visible li:nth-child(1) a {
	line-height: 275vw !important;
	text-indent: 15vw !important;

}

nav.visible li:nth-child(2) a {
	line-height: 210vw !important;
	text-indent: 17vw !important;
}

nav.visible li:nth-child(3) a {
	line-height: 147vw !important;
	text-indent: 17vw !important;

}

nav.visible li:nth-child(4) a {
	line-height: 70vw !important;
	text-indent: 12vw !important;
}

@keyframes top-bar {
	50% {
		transform: translateY(0);
	}

	100% {
		transform: rotate(45deg) translateY(0);
	}
}

@keyframes bottom-bar {
	50% {
		transform: translateY(0);
	}

	100% {
		transform: rotate(-45deg) translateY(0);
	}
}

@keyframes disappear {
	50% {
		transform: scale(0);
	}

	100% {
		background-color: transparent;
	}
}

@media(max-width: 644px){
	nav.visible li:nth-child(1) {
		width: 230vw;
		height: 230vw;
	}

	nav.visible li:nth-child(2) {
		width: 170vw;
		height: 170vw;
	}

	nav.visible li:nth-child(3) {
		width: 110vw;
		height: 110vw;
	}

	nav.visible li:nth-child(4) {
		width: 50vw;
		height: 50vw;
	}

	nav.visible li:nth-child(1) a {
		line-height: 370vw !important;
		text-indent: 35vw !important;

	}

	nav.visible li:nth-child(2) a {
		line-height: 265vw !important;
		text-indent: 28vw !important;
	}

	nav.visible li:nth-child(3) a {
		line-height: 160vw !important;
		text-indent: 18vw !important;

	}

}
section{
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden ;
}
.bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #293B5F;
    transition: 0.5s ;
}
.bg::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    font-weight: 600;
    color: #fff;
    text-decoration:none;
    font-size: 2.5rem;
    font-family:cursive;

}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-box{
    position: relative;
    max-width: 600px;
}
.text-box h2{
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.2em;
    font-weight: 800;
}
.text-box p{
    color: #fff;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
}
.text-box a{
    text-decoration: none;
    background: #fff;
    border-radius: 40px;
    color: #333;
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    font-weight: 500;
}
.image-box{
    position: relative;
    z-index: 1;
    width: 600px;
    display: flex;
    justify-content: flex-end;
}
.image-box img{
    max-width: 400px;

}

.thumbnail{
  padding-left: 20px;
  padding-right: 20px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumbnail li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.5s ease;
    height: 70px;
    background: rgba(255, 255, 255, 0.1);
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, 0.25);
}
.thumbnail li:hover{
    border: rgba(255, 255, 255, 0.5);
}
.thumbnail li.active{
    border: 2px solid rgba(255, 255, 255, 1);
}
.thumbnail li::before{
    position: absolute;
    top: -150px;
    left: -100px;
    content: attr(data-text);
    white-space: nowrap;
    font-size: 5em;
    color: rgba(0, 0, 0, 0.15);
    opacity: 0;
    font-weight: 700;
    pointer-events: none;


}
.thumbnail li.active::before
{opacity: 1;}
.thumbnail li img{
    max-width: 60px;

}
.sci{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}
.container{
  max-width: 100%;
  padding: 20px;
  margin: 0 auto; /*equal margin in left and right side*/
}
.hero__image__container{
  width:100%;
}
.hero__image{
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0/25%);
}

.hero__text{
  font-weight: 800;
  font-size: 30px;
  margin: 20px 0;
  color: #1d3557;
}
section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1f26;
}
.container {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}
.left {
  width: 50%;
  height: 600px;
  background: url(https://d68b3152cf5d08c2f050-97c828cc9502c69ac5af7576c62d48d6.ssl.cf3.rackcdn.com/includes/img/cms/site-images/resized/fc4b0101629-kingston-university-5fde83d762a-.jpg)
    no-repeat center / cover;
  border-radius: 8px;
}
.right {
  width: 50%;
  min-height: 400px;
  background-color: #303137;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: white;
  margin-left: -150px;
}
.right h1 {
  font-size: 40px;
  font-weight: lighter;
}
.right p {
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
}
.right a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;
}
.about{
  position: relative;
width: 100%;
  display: flex;
  background: url(https://d68b3152cf5d08c2f050-97c828cc9502c69ac5af7576c62d48d6.ssl.cf3.rackcdn.com/includes/img/cms/site-images/resized/fc4b0101629-kingston-university-5fde83d762a-.jpg)
  no-repeat center / cover;;

}
.about .contentBx{
  background: #162c3b;
  padding: 100px;
  width:50%;

}
.heading{
  color: #fff;
  font-size: 30px;
  font-weight:600px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.text{
  color:#fff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}
/* .about .imgBx */
/* {
   background: url(https://d68b3152cf5d08c2f050-97c828cc9502c69ac5af7576c62d48d6.ssl.cf3.rackcdn.com/includes/img/cms/site-images/resized/fc4b0101629-kingston-university-5fde83d762a-.jpg)
   no-repeat center / cover;;
  width: 50%;
  background-size: cover;
  background-position: center;
} */



@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
  }
  .left {
    width: 100%;
    height: 400px;
  }
  .right {
    width: 90%;
    margin: 0;
    margin-top: -100px;
  }
}

/* ********************* */
/* This Code is for only the floating card in right bottom corner */
/* ********************** */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  padding: 0;
  margin: 0;
  color: var(--color-4);
  text-decoration: none;
}
#-sidebox {
  position: fixed;
  right: 0px;
  bottom: 0px;
  overflow-x: clip;
  width: 300px;
  font-size: 16px;
}
#cw-sidebox p {
  padding: 0;
  margin: 0;
}
#cw {
  --color-1: #17bcb4;
  --color-2: #24252a;
  --color-3: #244044;
  --color-4: #f3f8f7;
  background: var(--color-2);
  display: inline-block;
  color: var(--color-4);
  padding: 10px 17px;
  border-radius: 6px;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  position: absolute;
  right: 5px;
  bottom: 5px;
  -webkit-transform: translateX(calc(100% + 5px));
  transform: translateX(calc(100% + 5px));
  -webkit-transition: 0.5s ease-out transform;
  transition: 0.5s ease-out transform;
  z-index: 4;
}

#cw.active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

#cw .logo {
  font-size: 25px;
}

#cw .author {
  margin-top: 10px;
  margin-bottom: 20px;
}

#cw .author span {
  background-color: var(--color-3);
  padding: 3px;
  border-radius: 4px;
}

#cw .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#cw .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
  padding: 5px;
  border-radius: 4px;
  text-align: left;
}

#cw .item:hover {
  background-color: var(--color-3);
}

#cw svg {
  max-width: 20px;
}

#cw .close {
  position: absolute;
  display: inline-block;
  height: 30px;
  width: 30px;
  right: 5px;
  top: 5px;
  padding: 5px;
  background-color: var(--color-3);
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}

#cw-icon {
  --color-2: #24252a;
  --color-3: #244044;
  font-family: "Roboto Mono", monospace;
  text-align: left;
  display: -webkit-box;S
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--color-2);
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  border-radius: 4px;
  gap: 5px;
  margin: 5px;
  cursor: pointer;
  z-index: 1;
  position: relative;
  right: -27%;
  border: 1px solid #ffffff7d;
}

#-icon svg {
  max-width: 20px;
}


/* Media Query Mobile first approach*/
@media (max-width:991px){
    .bg::before{
        display: none;
    }
    header{
        padding: 20px;
    }
    section{
        padding: 40px;
        padding-bottom: 130px;
    }
    .content{
        margin-top: 100px;
        flex-direction: column;
    }
    .content .text-box{
        max-width: 100%;
    }
    .content .text-box h2{
        font-size: 2.5rem;
        margin-bottom: 15px;
    }
    .content .image-box{
        max-width: 100%;
        justify-content: center;
    }
    .content .image-box img{

        max-width: 300px ;
    }
    .thumbnail li{
        margin: 0 3px;
        height: 55px ;
        overflow-x: auto;

    }
    .thumbnail li img{
        max-width: 40px;
    }
    .thumbnail li::before{
        position: absolute;
        top: -100px;
        left: 50px;
        font-size: 5em;
    }
    .sci{
        background: rgba(0, 0, 0, 0.1);
        right: 0;
        width: 65px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        position: fixed;
    }


}
