@media(max-width: 769px) {
    .video {
        width: 70vw;
    }
    .card_container {
        flex-wrap: wrap;
    }
    .card {
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .card:hover .front {
        transform: rotateY(0deg);
        opacity: 1;
    }
    .social-btns {
        position: static;
        margin: 5px auto;
    }
}

@media(max-width: 644px) {
    .neon {
        font-size: 10vw;
    }
    .flux {
        font-size: 10vw;
    }
    nav.visible li:nth-child(1) {
        width: 230vw;
        height: 230vw;
    }
    nav.visible li:nth-child(2) {
        width: 170vw;
        height: 170vw;
    }
    nav.visible li:nth-child(3) {
        width: 110vw;
        height: 110vw;
    }
    nav.visible li:nth-child(4) {
        width: 50vw;
        height: 50vw;
    }
    nav.visible li:nth-child(1) a {
        line-height: 380vw !important;
        text-indent: 20vw !important;
    }
    nav.visible li:nth-child(2) a {
        line-height: 265vw !important;
        text-indent: 15vw !important;
    }
    nav.visible li:nth-child(3) a {
        line-height: 160vw !important;
        text-indent: 10vw !important;
    }
    .about_text {
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
    }
    .about_text img {
        justify-content: center;
    }
    .video {
        width: 80vw;
    }
}