body {
  background-color: #101d2e;
  margin: 0;
  font-family: Merriweather, serif;
}

h1 {
  color: #98D6EA;
  font-size: 2.7vw;
}

h3 {
  color: #3FC5F0;
  font-size: 1.5vw;
}

p {
  font-family: Montserrat, serif;
  color: #F9F3F3;
  font-size: 1.3vw;
}

.hr-top {
  margin: 0;
  height: 0.4vw;
  background: linear-gradient(#ffd700, #e8d57f, #ffd700);
  border: 0;
}



/*.top-head{
  color: #00D1FF;
  font-size: 2vw;
  position: relative;
}
.top-head::before{
  position: absolute;
  content: attr(data-text);
  text-shadow: 0 0 20px #00D1FF;
  filter : blur(1px) brightness(0.75);
  animation: flicker 2s infinite linear 1s forwards;

}
@keyframes flicker {
  0%{filter : blur(1px) brightness(0.75);}
  3%{filter : blur(1px) brightness(0);}
  6%{filter : blur(1px) brightness(0);}
  7%{filter : blur(1px) brightness(0.75);}
  8%{filter : blur(1px) brightness(0);}
  9%{filter : blur(1px) brightness(0.75);}
  10%{filter : blur(1px) brightness(0);}
  20%{filter : blur(1px) brightness(0.75);}
  50%{filter : blur(1px) brightness(0.75);}
  99%{filter : blur(1px) brightness(0);}
  100%{filter : blur(1px) brightness(0.75);}


}*/
.icon {
  position: absolute;
  top: 1.7vw;
  width: 7vw;
  height: 7vw;
  left: 2%;
}

/*.head{
  margin: 200px;
}*/
.bg-img {
  height: 47vw;
  width: 100%;
  margin-top: 0;
  border: 0;
}

.heading {
  position: absolute;
  top: 14vw;
  left: 2%;
  font-family: Barrio;
  font-size: 3vw;
  color: #393E46;
}

.sub-head {
  position: absolute;
  top: 20vw;
  left: 11%;
  font-family: Barrio;
  font-size: 3vw;
  color: #393E46;
}

.art-gallery {
  margin-top: 7%;
  margin-bottom: 5%;
  text-align: center;
}

.animation {
  width: 70%;
  height: 40vw;
  margin-left: 15%;
  position: relative;
  background-size: 100% 100%;
  box-shadow: 1px 2px 10px #ffd700;
  animation: slider 35s infinite linear;
}

@keyframes slider {
  0% {
    background-image: url('img1.jpeg');
  }

  8% {
    background-image: url('img7.jpeg');
  }

  16% {
    background-image: url('img2.jpg');
  }

  24% {
    background-image: url('img5.jpeg');
  }

  32% {
    background-image: url('img6.jpeg');
  }

  40% {
    background-image: url('img8.jpeg');
  }

  48% {
    background-image: url('img9.jpeg');
  }

  56% {
    background-image: url('img11.jpeg');
  }

  64% {
    background-image: url('img12.jpeg');
  }

  72% {
    background-image: url('img13.jpeg');
  }

  80% {
    background-image: url('img14.jpeg');
  }

  88% {
    background-image: url('img15.jpeg');
  }

  96% {
    background-image: url('img 16.jpeg');
  }
}

.images {
  /*top: 50%;*/
  margin: 7%;
}

.mandala-img {
  width: 20%;
  height: 16vw;
  margin-right: 20px;
  float: left;
  border: 0.1vw solid #e8d57f;
}

.painting-img {
  width: 20%;
  height: 16vw;
  margin-left: 20px;
  float: right;
  border: 0.1vw solid #e8d57f;
}

.digital-art-img {
  width: 20%;
  height: 16.5vw;
  margin-right: 20px;
  float: left;
  border: 0.1vw solid #e8d57f;
}

.sketch-art-img {
  width: 20%;
  height: 16vw;
  margin-left: 20px;
  float: right;
  border: 0.1vw solid #e8d57f;
}

.artist {
  margin-top: 10%;
  text-align: center;
}

.p {
  margin: 7%;
}

.p-img {
  margin-top: 0;
  margin-bottom: 2%;
  height: 20%;
  width: 20%;
}

.phr {
  border: dotted #ffd700 0.5vw;
  border-bottom: none;
  width: 3vw;
  margin: 30px auto;
}

::-webkit-scrollbar-track {
  background-color: #101d2e;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar:hover {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: linear-gradient(#101d2e, #e8d57f, #e8d57f);
}

* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.footer {
  position: relative;
  margin-left: 32vw;
  margin-top: 10vw;

}

.trophy-img {
  height: 5vw;
  width: 5vw;
}

.medal-img {
  height: 5vw;
  width: 5vw;
}

.artwork-img {
  height: 5vw;
  width: 5vw;
}

.trophy {
  position: relative;
  text-align: center;
}

.medal {
  position: absolute;
  margin-left: 16.6vw;
  top: 0;
  text-align: center;
}

.artwork {
  position: absolute;
  top: 0;
  text-align: center;
}

.bottom{
  margin-top: 20vw;
  margin-bottom: 3vw;
  text-align: center;

}

.copyright{
  font-size: 1vw;
  color: grey;
}
.mandala-text{
  margin-top: 1vw;
}

.painting-text{
    margin-top: 1vw;

}
.digital-art-text{
  margin-top: 1vw;
}

.sketch-art-text{
  margin-top: 1vw;
}
@media screen and (max-width:600px){
  p {
    font-size: 2.3vw;
  }
  h3{
    font-size: 15px;
  }
  h1{
    font-size: 20px;
  }

  .icon {
    position: absolute;
    top: 1.7vw;
    width: 0;
    height: 0;
    left: 2%;
  }


  .bg-img {
    height: 60vw;
    width: 100%;
    margin-top: 0;
    border: 0;
  }

  .heading {
    position: absolute;
    top: 14vw;
    left: 1%;
    font-family: Barrio;
    font-size: 3.5vw;
    color: #393E46;
  }

  .footer {
    position: relative;
    margin-left: 0;
    margin-top: 10vw;

  }

  .trophy-img {
    height: 8vw;
    width: 8vw;

  }

  .medal-img {
    height: 8vw;
    width: 8vw;
  }

  .artwork-img {
    height: 8vw;
    width: 8vw;
  }

  .trophy {
    position: relative;
    text-align: center;
    margin-left: 50vw;
  }

  .medal {
    position: absolute;
    margin-left: 45vw;
    top: 0;
    text-align: center;
  }

  .artwork {
    position: absolute;
    top: 0;
    margin-left: 20vw;
    text-align: center;
  }
  .copyright{
    font-size: 2.5vw;
    color: grey;
  }

  .images{
    text-align: center;
  }

  .mandala-img {
    width: 83%;
    height: 65vw;
    margin: 40px;
    margin-bottom: 20px;

  }

  .painting-img {
    width: 83%;
    height: 65vw;
    margin: 40px;
    margin-bottom: 20px;

  }

  .digital-art-img {
    width: 83%;
    height: 65vw;
    margin: 40px;
    margin-bottom: 20px;

  }

  .sketch-art-img {
    width: 83%;
    height: 65vw;
    margin: 40px;
    margin-bottom: 20px;

  }


  .p-img {
    margin-top: 0;
    margin-bottom: 2%;
    height: 25%;
    width: 25%;
  }

  .animation {
    width: 70%;
    height: 60vw;
    background: url('img1.jpeg');
    margin-left: 15%;
    position: relative;
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px #ffd700;
    animation: slider 45s linear infinite;
  }

  @keyframes slider {
    0% {
      background-image: url('img1.jpeg');
    }

    8% {
      background-image: url('img7.jpeg');
    }

    16% {
      background-image: url('img2.jpg');
    }

    24% {
      background-image: url('img5.jpeg');
    }

    32% {
      background-image: url('img6.jpeg');
    }

    40% {
      background-image: url('img8.jpeg');
    }

    48% {
      background-image: url('img9.jpeg');
    }

    56% {
      background-image: url('img11.jpeg');
    }

    64% {
      background-image: url('img12.jpeg');
    }

    72% {
      background-image: url('img13.jpeg');
    }

    80% {
      background-image: url('img14.jpeg');
    }

    88% {
      background-image: url('img15.jpeg');
    }

    96% {
      background-image: url('img 16.jpeg');
    }
  }

  .phr {
    border: dotted #ffd700 0.7vw;
    border-bottom: none;
    width: 3vw;
    margin: 30px auto;
  }

  .mandala-text{
    margin-top: 1.5vw;
  }

  .painting-text{
      margin-top: 1.5vw;

  }
  .digital-art-text{
    margin-top: 1.5vw;
  }

  .sketch-art-text{
    margin-top: 1.5vw;
  }



}
