*{
	padding:0;
	margin: 0;
}
html{
	scroll-behavior: smooth;
}
body {
  background-color: #101d2e;
  margin: 0;
  font-family: Merriweather, serif;
  color: white;
  overflow-x : hidden; 
}

img {
  height: 6vw;
  width: 6vw;
}

p {
  font-family: Montserrat, serif;
  color: #F9F3F3;
  font-size: 1.3vw;
}

h2{
  color:#A1CAE2;
}
a{
  text-decoration: none;
  font-weight: bold;
  color: #A1CAE2
}
a:hover{
  color: black;
}
.icon {
    width: 12vw;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 5;
}
.bg-img {

  height: 44vw;
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  border: 0;


}
.heading {

  position: absolute;
  top: 14vw;
  left: 25%;
  font-family: Barrio;
  font-size: 5vw;
  text-shadow : 0 2px 2px;
  color: WHITE;
}

h1 span{
  position: relative;
  display: inline-block;
}

h1 span:nth-child(4)
{
  color: #fff;
  animation: animate 3s alternate infinite;
}

@keyframes animate {
  0%
  {
    transform: translateY(0px)rotate(0deg);
  }
  40%
  {
    transform: translateY(0px)rotate(0deg);
  }
  50%
  {
    transform: translateY(-100px)rotate(180deg);
  }
  60%
  {
    transform: translateY(0px)rotate(360deg);
  }
  100%
  {
    transform: translateY(0px)rotate(360deg);
  }


}
h1 span{
  animation: animate 3s alternate infinite;
}

h1 span:nth-child(1)
{
  animation-delay: 0s;
}
h1 span:nth-child(2)
{
  animation-delay: 0.2s;
}
h1 span:nth-child(3)
{
  animation-delay: 0.6s;
}
h1 span:nth-child(5)
{
  animation-delay: 0.5s;
}
h1 span:nth-child(6)
{
  animation-delay: 0.1s;
}
h1 span:nth-child(7)
{
  animation-delay: 0.1s;
}
h1 span:nth-child(8)
{
  animation-delay: 1.2s;
}
h1 span:nth-child(9)
{
  animation-delay: 0s;
}
h1 span:nth-child(10)
{
  animation-delay: 0.2s;
}
h1 span:nth-child(11)
{
  animation-delay: 0.4s;
}
h1 span:nth-child(12)
{
  animation-delay: 0.4s;
}

.yt{
  font-family: Montserrat;
  font-size: 2vw;
  color: white;
}
.y{
  margin-left: 26vw;
  margin-top: 37vw;
  width: 50vw;
  height: 5vw;
  position: absolute;
  top: 0;
}
.top-head{
  color: #00D1FF;
  font-size: 3vw;
  position: relative;
}
.top-head::before{
  position: absolute;
  content: attr(data-text);
  text-shadow: 0 0 15px #00D1FF;
  filter : blur(1px) brightness(0.75);
  animation: flicker 2s infinite linear 1s forwards;

}
@keyframes flicker {
  0%{filter : blur(1px) brightness(0.75);}
  3%{filter : blur(1px) brightness(0);}
  6%{filter : blur(1px) brightness(0);}
  7%{filter : blur(1px) brightness(0.75);}
  8%{filter : blur(1px) brightness(0);}
  9%{filter : blur(1px) brightness(0.75);}
  10%{filter : blur(1px) brightness(0);}
  20%{filter : blur(1px) brightness(0.75);}
  50%{filter : blur(1px) brightness(0.75);}
  99%{filter : blur(1px) brightness(0);}
  100%{filter : blur(1px) brightness(0.75);}
}
.aboutus{
  margin-top: 10vw;
  text-align: center;
}
.key{
  margin-top: 4vw;
  color: #A1CAE2;
}
.features{
  margin-top: 5vw;

}
.responsive{
  text-align: center;
  position: absolute;
  margin-left: 20vw;
}
.passion{
  text-align: center;
  position: absolute;
  margin-left: 47vw;
}
.design{
  text-align: center;
  position: absolute;
  margin-left: 74.5vw;
}

.skills{
  margin-top: 25vw;
  text-align: center;
  height: 3vw;
  width: 50%;
  margin-left: 1vw;
}
.skill-text{
  border: 3.2px solid;
  border-top-width: 0;
  border-bottom: 0;
  border-image: linear-gradient(to bottom, rgb(0 0 0/ 30%), rgb(255 215 0 / 100%), #ffd700, #000) 10 100%;
  box-shadow: 0 20px 50px rgb(0 0 0/ 50%);
  padding: 15px;
}
.para{
  margin-left: 60vw;
    margin-top:0;
}
.progress{
  position: absolute;
  margin-left: 60vw;
  width: 30vw;
  height: 2.5vw;
  background: #DEEDF0;
  border-radius: 1vw;
  margin-top: 2vw;
}

.prog-text{
  margin: 7px;


}
.prog-fill{
  width: 90%;
  height: 100%;
  background: #0F3460;
  border-radius: 1vw;
}


.scale{
  margin-top: 7vw;
}
.prog2-fill{
  width: 85%;
  height: 100%;
  background: #035397;
  border-radius: 1vw;
}

.prog3-fill{
  width: 75%;
  height: 100%;
  background: #5089C6;
  border-radius: 1vw;
}

.prog4-fill{
  width: 95%;
  height: 100%;
  background: #39A2DB;
  border-radius: 1vw;
}
.percent{
  margin-top: 0;



}

.project{
  padding-top: 15vw;
  text-align: center;
}

.proj{
  color: #00D1FF;
  font-size: 3vw;
  position: relative;
}
.proj::before{
  position: absolute;
  content: attr(data-text);
  text-shadow: 0 0 15px #00D1FF;
  filter : blur(1px) brightness(0.75);
  animation: flicker 2s infinite linear 1s forwards;

}
@keyframes flicker {
  0%{filter : blur(1px) brightness(0.75);}
  3%{filter : blur(1px) brightness(0);}
  6%{filter : blur(1px) brightness(0);}
  7%{filter : blur(1px) brightness(0.75);}
  8%{filter : blur(1px) brightness(0);}
  9%{filter : blur(1px) brightness(0.75);}
  10%{filter : blur(1px) brightness(0);}
  20%{filter : blur(1px) brightness(0.75);}
  50%{filter : blur(1px) brightness(0.75);}
  99%{filter : blur(1px) brightness(0);}
  100%{filter : blur(1px) brightness(0.75);}
}

.pj{
  height: 3vw;
  width:  3vw;
  float: left;
  margin-right: 2vw;
}

.proj1{
  margin-top: 4vw;
}
.proj2{
  margin-top: 4vw;
}
.proj3{
  margin-top: 4vw;
}
.proj4{
  margin-top: 2vw;
}
.proj-cont{
  margin-top: 5vw;
  margin-left: 27vw;
}

.copyright{
  margin-left: 45vw;
  position: absolute;

  margin-top: 20vw;
  font-size: 1vw;
  color: grey;
}
.phr {
  border: dotted #ffd700 0.5vw;
  border-bottom: none;
  width: 3vw;
  margin : 15vw auto;

}
::-webkit-scrollbar-track {
  background-color: #101d2e;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar:hover {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: linear-gradient(#101d2e, #e8d57f, #e8d57f);
}

* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bottom{
  margin-top: 20vw;
  margin-bottom: 3vw;
  text-align: center;

}

.copyright{
	position: relative;

  color: #5589f2;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 30px;
	background: #101d2e;
	box-shadow: 0 20px 50px rgb(0 0 0/ 50%);
	border: 3px solid #FFD700;
	border-top-width: 0;
	border-bottom-width: 0;

}

/*Navbar icon*/
.bars {
	position: fixed;
	width: 30px;
	height: 30px;
	top: 40px;
	right: 10px;
	cursor: pointer;
	z-index: 101;
	padding-top: 9px;
	outline: none;
	transition: .5s ease;
}

.bars.active {
	top: 20px;
}

.bar {
	width: 100%;
	height: 4.3px;
	border-radius: 20px;
	background-color: #fff;
	outline: none;
	position: absolute;
}

#nav-action #bar1 {
	transform: translateY(-10px);
}

#nav-action #bar3 {
	transform: translateY(10px);
}

.bars.active #bar2 {
	animation: disappear 1s;
	color: aqua;
	animation-fill-mode: forwards;
}

.bars.active #bar1 {
	animation: top-bar 1s;
	animation-fill-mode: forwards;
}

.bars.active #bar3 {
	animation: bottom-bar 1s;
	animation-fill-mode: forwards;
}


/* Navbar Links CSS */

#nav {
	position: fixed;
	top: 0px;
	bottom: 0;
	left: 0;
	right: 0px;
	transition: all 1s;
	z-index: -1;
	overflow: hidden;
	opacity: 0;
}

#nav a {
	color: #fff;
	text-decoration: none;
	font-size: 22px;
	font-family: var(--heading-font);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-indent: 50vw;
	border-radius: 50%;
	transition: all .5s;
}

#nav a:hover {
	background: #ED213A;
}

ul {
	list-style: none;
}

.visible {
	z-index: 100 !important;
	opacity: 1 !important;
}

.shape-circle {
	border-radius: 50%;
	width: 20vw;
	height: 20vw;
	top: -10vw;
	right: -10vw;
	position: absolute;
	transition: all 1s ease-in-out;
	background: #101d2e;
	box-shadow: 0 0px 0px rgba(232, 213, 127, 0.5);
}

nav.visible li:first-child {
	width: 200vw;
	height: 200vw;
	top: -100vw;
	right: -100vw;
	z-index: 5;
	transition: all .5s ease-in-out;
	box-shadow: 0 0px 80px rgba(232, 213, 127, 0.5);
}

nav.visible li:nth-child(2) {
	width: 150vw;
	height: 150vw;
	top: -75vw;
	right: -75vw;
	z-index: 6;
	transition: all .6s ease-in-out;
	box-shadow: 0 0px 80px rgba(232, 213, 127, 0.5);
}

nav.visible li:nth-child(3) {
	width: 100vw;
	height: 100vw;
	top: -50vw;
	right: -50vw;
	z-index: 7;
	transition: all .7s ease-in-out;
	box-shadow: 0 0px 80px rgba(232, 213, 127, 0.5);
}

nav.visible li:last-child {
	width: 50vw;
	height: 50vw;
	top: -25vw;
	right: -25vw;
	z-index: 8;
	transition: all .8s ease-in-out;
	box-shadow: 0 0px 80px rgba(232, 213, 127, 0.5);
}

nav.visible li:nth-child(1) a {
	line-height: 275vw !important;
	text-indent: 15vw !important;

}

 nav.visible li:nth-child(1) a {
	line-height: 275vw !important;
	text-indent: 7vw !important;

}

nav.visible li:nth-child(2) a {
	line-height: 210vw !important;
	text-indent: 8vw !important;
}

nav.visible li:nth-child(3) a {
	line-height: 145vw !important;
	text-indent: 10vw !important;

}
	.bars:hover #bar2{
	transition: transform .5s;
	transform: translateX(-8px);
}
@keyframes top-bar {
	50% {
		transform: translateY(0);
	}

	100% {
		transform: rotate(45deg) translateY(0);
	}
}

@keyframes bottom-bar {
	50% {
		transform: translateY(0);
	}

	100% {
		transform: rotate(-45deg) translateY(0);
	}
}

@keyframes disappear {
	50% {
		transform: scale(0);
	}

	100% {
		background-color: transparent;
	}
}

@media(max-width: 644px){
	nav.visible li:nth-child(1) {
		width: 230vw;
		height: 230vw;
	}

	nav.visible li:nth-child(2) {
		width: 170vw;
		height: 170vw;
	}

	nav.visible li:nth-child(3) {
		width: 110vw;
		height: 110vw;
	}

	nav.visible li:nth-child(4) {
		width: 50vw;
		height: 50vw;
	}
	
	nav.visible li:nth-child(1) a {
        	line-height: 380vw !important;
       		text-indent: 20vw !important;
    	}
    	nav.visible li:nth-child(2) a {
        	line-height: 265vw !important;
        	text-indent: 15vw !important;
    	}
    	nav.visible li:nth-child(3) a {
        	line-height: 160vw !important;
        	text-indent: 10vw !important;
    	}

}
/* Social Media Buttons */

.social-icons {
	position: fixed;
	top: 40%;
	right: 10px;
	z-index: 2;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

.social-icons a {
	text-decoration: none;

}

.fa-instagram {
	text-align: center;
	display: block;
	font-size: 30px;
	margin-left: 3px;
}

.fa-youtube {
	display: block;
	font-size: 30px;
	margin-top: 20px;
	text-align: center;
}

.social-icons a .fab {
	color: #fff;
}

.social-icons a .fab:hover {
	cursor: pointer;
	transform: scale(1.08);
}

/*      Back to top   */
.back-to-top {
	background-color: #101d2e;
	padding: 10px 12px;
	color: #ffd700;
	font-size: 25px;
	cursor: pointer;
	border-radius: 8px;
	box-shadow: 0 0 7px #ffd700;
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 2;
	transition: all .5s ease-in;
	opacity: 0;
	transform: translateY(1000px);
}

@media screen and (max-width:600px){
  p {
    font-family: Montserrat, serif;
    color: #F9F3F3;
    font-size: 3vw;
  }
  .icon {
    top: 1.7vw;
    width: 0;
    height: 0;
    left: 2%;
    position: absolute;
  }

  .bg-img {

    height: 57vw;
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    border: 0;

  }

  .heading {

    position: absolute;
    top: 19vw;
    left: 15vw;
    font-family: Barrio;
    font-size: 7vw;
    text-shadow : 0 2px 2px;
    color: WHITE;
  }

  .yt{
    font-family: Montserrat;
    font-size: 2.7vw;
    color: white;

  }
  .y{
    margin-left: 17vw;
    margin-top: 32vw;
    width: 65vw;
    height: 5vw;
    position: absolute;
    top: 0;
    text-align: center;
  }

  .top-head{
    color: #00D1FF;
    font-size: 6.5vw;
    position: relative;
  }

  .key{
    margin-top: 4vw;
    color: #A1CAE2;
    font-size: 4vw;
  }
  .features{
    margin-top: 6vw;

  }
  .responsive{
    text-align: center;
    position: absolute;
    margin-left: 19vw;

  }
  .passion{
    text-align: center;
    position: absolute;
    margin-left: 46vw;
  }
  .design{
    text-align: center;
    position: absolute;
    margin-left: 73vw;
  }

  img {
    height: 9vw;
    width: 9vw;
  }

  h2{
    font-size: 4vw;
  }

  .skills{
    margin-top: 35vw;
    margin-left: 10vw;
    width: 80%;
  }

  .percent{
    margin-top: 80vw;
  }

  .para{
    margin-left: 10vw;
      margin-top:0;
  }
  .progress{
    position: absolute;
    margin-left: 10vw;
    width: 80vw;
    height: 6vw;
    background: #DEEDF0;
    border-radius: 1vw;
    margin-top: 2vw;
  }

  .prog-text{
    margin: 7px;


  }
  .prog-fill{
    width: 90%;
    height: 100%;
    background: #0F3460;
    border-radius: 1vw;
  }


  .scale{
    margin-top: 12vw;
  }
  .prog2-fill{
    width: 85%;
    height: 100%;
    background: #035397;
    border-radius: 1vw;
  }

  .prog3-fill{
    width: 75%;
    height: 100%;
    background: #5089C6;
    border-radius: 1vw;
  }

  .prog4-fill{
    width: 95%;
    height: 100%;
    background: #39A2DB;
    border-radius: 1vw;
  }
  .project{
    padding-top: 15vw;
    text-align: center;
  }

  .proj{
    margin-top: 7vw;
    color: #00D1FF;
    font-size: 6.5vw;
    position: relative;
  }
  .pj{
    height: 5vw;
    width:  5vw;
    float: left;
    margin-right: 2vw;
  }

  .proj1{
    margin-top: 4vw;
  }
  .proj2{
    margin-top: 4vw;
  }
  .proj3{
    margin-top: 4vw;
  }
  .proj4{
    margin-top: 2vw;
  }
  .proj-cont{
    margin-top: 6vw;
    margin-left: 5vw;
  }

  .copyright{
  	position: relative;

    color: #5589f2;
  	font-size: 15px;
  	text-align: center;
  	font-weight: bold;
  	margin-top: 20px;
  	margin-left: auto;
  	margin-right: auto;
  	padding: 10px 30px;
  	background: #101d2e;
  	box-shadow: 0 20px 50px rgb(0 0 0/ 50%);
  	border: 3px solid #FFD700;
  	border-top-width: 0;
  	border-bottom-width: 0;

  }

}
